@import '../variables.scss';
@import '../general.scss';
@import '../header.scss';
@import 'page-description.scss';
@import 'page-popular-track.scss';
@import 'page-discography.scss';
@import 'page-similar.scss';
@import '../footer.scss';

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

section:not(:first-of-type) {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
}

.m-auto {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
}

@media (max-width: 1239px) {
  section:not(:first-of-type) {
    width: 100%;
    padding-left: 20px;
    padding-right: 20px;
  }
  .m-auto {
    width: 100%;
    padding-left: 20px;
    padding-right: 20px;
  }
}