#page-discography {
  padding-top: 100px;

  h2 {
    align-self: flex-start;
    margin-bottom: 48px;
  }

  .discography-info {
    display: flex;
    flex-direction: column;

    h3 {
      margin: 0;
    
      font-size: 18px;
      line-height: 27px;
      font-weight: bold;
      text-transform: capitalize;
    }
    span {
      font-size: 16px;
      line-height: 24px;
    }
  }
}

@media (max-width: 1240px) {
  #page-discography {
    img {
      width: 137px;
    }
  }
}