#page-description {
  padding-top: 200px;
  padding-bottom: 200px;

  background-image: url('../../images/Morten\ Harket.png');
  background-position: center;
  background-size: cover;

  color: #fff;

  .container {
    align-items: flex-start;

    p {
      font-size: 16px;
    }
    div {
      display: flex;
      margin-top: 48px;

      .btn {
        display: flex;
        align-items: center;
        width: 200px;
        margin-right: 24px;
        font-size: 12.8px;

        img {
          width: 20px;
          margin-right: 16px;

          filter: invert(98%) sepia(100%) saturate(2%) hue-rotate(313deg) brightness(113%) contrast(101%);
        }
      }
    }
  }

}