@import 'variables.scss';
@import 'general.scss';
@import 'header.scss';
@import 'page-description.scss';
@import 'page-pricing.scss';
@import 'page-news.scss';
@import 'page-app.scss';

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
}

@media (max-width: 1240px) {
  .container {
    width: 100%;
    padding-left: 20px;
    padding-right: 20px;
  }
}