@font-face {
  font-family: "Roboto", sans-serif;
  src: url("../fonts/Roboto-Regular.ttf");
  font-weight: 400;
}
@font-face {
  font-family: "Roboto", sans-serif;
  src: url("../fonts/Roboto-Bold.ttf");
  font-weight: bold;
}

* {
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  box-sizing: border-box;
  line-height: 1.5;
  color: $darkgray;
  // background-color: $black;
}

body {
  margin: 0;
}

h1 {
  margin: 0;
  font-size: 60px;
  line-height: 90px;
  font-weight: bold;
  text-transform: uppercase;
  color: $white;
}

h2 {
  margin: 0;
  font-size: 38px;
  line-height: 57px;
  font-weight: bold;
  text-transform: uppercase;
  color: $white;
}

h3 {
  font-size: 24px;
  line-height: 36px;
  font-weight: 400;
  text-transform: uppercase;
  color: $white;
}

a {
  text-decoration: none;
}

p {
  font-size: 16px;
}

.bold {
  font-weight: bold;
}

.btn {
  width: 100%;
  padding: 20px 30px;
  border-radius: 5px;
  text-transform: uppercase;
  text-decoration: none;
  font-size: 16px;
}

.bg-black {
  background-color: $black;
}

.bg-gradient {
  background: linear-gradient(89.75deg, #5328a1 32.83%, #95390c 81.56%);
}

.bg-purple {
  background-color: $purple;
}

.bg-red {
  background-color: $red;
}

.font-orange {
  color: $orange;
}

.font-white {
  color: $white;
}

.row-reverse {
  flex-direction: row-reverse;
}

.grid-4 {
  display: grid;
  width: 100%;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, auto);
  grid-gap: 25px 50px;
}
.grid-4 img {
  width: 250px;
  margin-bottom: 18px;
}

@media (max-width: 1239px) {
  h1 {
    font-size: 30px;
    line-height: 45px;
  }
  
  h2 {
    font-size: 18px;
    line-height: 27px;
  }

  .grid-4 {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
  }
}