* {
  font-family: 'Roboto';
  font-size: 18px;
  box-sizing: border-box;
  line-height: 1.5;
  color: $darkgray;
  // background-color: $black;
}

.body {
  margin: 0;
}

h1 {
  font-size: 60px;
  line-height: 90px;
  font-weight: bold;
  text-transform: uppercase;
}

h2 {
  font-size: 38px;
  line-height: 57px;
  font-weight: bold;
  text-transform: uppercase;
}

@media (max-width: 1240px) {
  h1 {
    font-size: 30px;
    line-height: 45px;
  }
  
  h2 {
    font-size: 18px;
    line-height: 27px;
  }
}