header {
  position: absolute;
  display: flex;
  justify-content: space-between;
  align-content: center;
  flex-wrap: wrap;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  top: 25px;
  left: 0;
  right: 0;

  .navbar {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-wrap: wrap;

    > div {
      margin-right: 24px;
      font-size: 11px;
    }

    > div:first-child {
      display: flex;
      justify-self: flex-start;
      align-items: center;
      margin-right: 90px;

      img {
        margin-right: 16px;
      }
      div {
        font-size: 11px;
      }
    }
  }

  input {
    min-width: 248px;
    background-color: #3c3b3d;
    border: none;
    border-radius: 50px;
    padding: 5px 10px;
    font-size: 11px;
  }
}

@media (max-width: 1240px) {
  header {
    flex-direction: column;
    width: 100%;
    align-content: flex-start;
    padding-left: 20px;
    padding-right: 20px;

    .navbar {
      flex-direction: column;
      align-items: flex-start;
      margin-bottom: 18px;
      
      > a {
        width: 90px
      }
      div:first-child {
        margin-bottom: 17px;
      }
    }
    input {
      width: 100%;
    }
  }  
}