@font-face {
  font-family: "Roboto";
  src: url("../../fonts/Roboto-Regular.ttf");
  font-weight: 400;
}
@font-face {
  font-family: "Roboto";
  src: url("../../fonts/Roboto-Bold.ttf");
  font-weight: bold;
}
* {
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  box-sizing: border-box;
  line-height: 1.5;
  color: #cacaca;
}

a {
  text-decoration: none;
}

p {
  font-size: 16px;
}

body {
  margin: 0;
}

h1 {
  margin: 0;
  font-size: 60px;
  line-height: 90px;
  font-weight: bold;
  text-transform: uppercase;
  color: #fff;
}

h2 {
  margin: 0;
  font-size: 38px;
  line-height: 57px;
  font-weight: bold;
  text-transform: uppercase;
  color: #fff;
}

h3 {
  font-size: 24px;
  line-height: 36px;
  font-weight: 400;
  text-transform: uppercase;
  color: #fff;
}

.btn {
  width: 100%;
  padding: 20px 30px;
  border-radius: 5px;
  text-transform: uppercase;
  text-decoration: none;
  font-size: 16px;
}

.bold {
  font-weight: bold;
}

.bg-black {
  background-color: #08020d;
}

.bg-gradient {
  background: linear-gradient(89.75deg, #5328a1 32.83%, #95390c 81.56%);
}

.bg-purple {
  background-color: #5328a1;
}

.bg-red {
  background-color: #95390c;
}

.font-orange {
  color: #f89202;
}

.font-white {
  color: #fff;
}

.row-reverse {
  flex-direction: row-reverse;
}

.grid-4 {
  display: grid;
  width: 100%;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, auto);
  grid-gap: 25px 50px;
}
.grid-4 img {
  width: 250px;
  margin-bottom: 18px;
}

@media (max-width: 414px) {
  h1 {
    font-size: 30px;
    line-height: 45px;
  }

  h2 {
    font-size: 18px;
    line-height: 27px;
  }

  .grid-4 {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
  }
}
header {
  position: absolute;
  display: flex;
  justify-content: space-between;
  align-content: center;
  flex-wrap: wrap;
  max-width: 1240px;
  margin-left: auto;
  margin-right: auto;
  top: 25px;
  left: 0;
  right: 0;
}
header .navbar {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex-wrap: wrap;
}
header .navbar > * {
  margin-right: 24px;
  font-size: 11px;
}
header .navbar > div:first-child {
  display: flex;
  justify-self: flex-start;
  align-items: center;
  margin-right: 90px;
}
header .navbar > div:first-child img {
  margin-right: 16px;
}
header .navbar > div:first-child div {
  font-size: 11px;
}
header input {
  min-width: 248px;
  background-color: #3c3b3d;
  border: none;
  border-radius: 50px;
  padding: 5px 10px;
  font-size: 11px;
}

@media (max-width: 414px) {
  header {
    flex-direction: column;
    width: 100%;
    align-content: flex-start;
    padding-left: 20px;
    padding-right: 20px;
  }
  header .navbar {
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 18px;
  }
  header .navbar div:first-child {
    margin-bottom: 17px;
  }
  header input {
    width: 100%;
  }
}
#page-description {
  padding-top: 200px;
  padding-bottom: 200px;
  background-image: url("../../images/Morten Harket.png");
  background-position: center;
  background-size: cover;
  color: #fff;
}
#page-description .container {
  align-items: flex-start;
  max-width: 1240px;
  margin-left: auto;
  margin-right: auto;
}
#page-description .container p {
  font-size: 16px;
}
#page-description .container div {
  display: flex;
  margin-top: 48px;
  flex-wrap: wrap;
}
#page-description .container div .btn {
  display: flex;
  align-items: center;
  width: 200px;
  margin-right: 24px;
  font-size: 12.8px;
  border: none;
}
#page-description .container div .btn img {
  width: 20px;
  margin-right: 16px;
  filter: invert(98%) sepia(100%) saturate(2%) hue-rotate(313deg) brightness(113%) contrast(101%);
}

#page-popular-track {
  padding-top: 100px;
}
#page-popular-track h2 {
  align-self: flex-start;
  margin-bottom: 48px;
}
#page-popular-track .grid-2 {
  display: grid;
  width: 100%;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(3, auto);
  grid-gap: 25px 50px;
}
#page-popular-track .grid-2 .popular-track {
  display: flex;
  justify-content: flex-start;
  align-content: center;
  align-items: center;
}
#page-popular-track .grid-2 .popular-track img {
  width: 55px;
  margin-right: 15px;
}
#page-popular-track .grid-2 .popular-track .track-info {
  display: flex;
  flex-direction: column;
}
#page-popular-track .grid-2 .popular-track .track-info > span {
  font-size: 12.8px;
}
#page-popular-track .grid-2 .popular-track .track-info h3 {
  margin: 0;
  font-size: 12.8px;
  line-height: 19.2px;
  font-weight: bold;
}
#page-popular-track .grid-2 .popular-track .track-time {
  margin-left: auto;
  font-size: 12.8px;
}

@media (max-width: 414px) {
  #page-popular-track .grid-2 {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(6, 1fr);
    grid-gap: 25px;
  }
}
#page-discography {
  padding-top: 100px;
}
#page-discography h2 {
  align-self: flex-start;
  margin-bottom: 48px;
}
#page-discography .discography-info {
  display: flex;
  flex-direction: column;
}
#page-discography .discography-info h3 {
  margin: 0;
  font-size: 18px;
  line-height: 27px;
  font-weight: bold;
  text-transform: capitalize;
}
#page-discography .discography-info span {
  font-size: 16px;
  line-height: 24px;
}

@media (max-width: 414px) {
  #page-discography img {
    width: 137px;
  }
}
#page-similar {
  padding-top: 100px;
  padding-bottom: 100px;
}
#page-similar h2 {
  align-self: flex-start;
  margin-bottom: 48px;
}
#page-similar .similar-item {
  display: flex;
  flex-direction: column;
  text-align: center;
}
#page-similar .similar-item h3 {
  margin: 0;
  font-size: 18px;
  line-height: 27px;
  font-weight: bold;
  text-transform: capitalize;
}
#page-similar .similar-item span {
  font-size: 16px;
  line-height: 24px;
}

@media (max-width: 414px) {
  #page-similar img {
    width: 137px;
  }
}
footer h2 {
  font-size: 18px;
  line-height: 27px;
  font-weight: bold;
  margin-bottom: 15px;
}
footer a {
  font-size: 16px;
  line-height: 24px;
  text-decoration: none;
}
footer hr {
  border-top: 2px solid #cacaca;
  margin: 0;
}
footer .footer-sitemap {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 100%;
  padding-top: 3rem;
  padding-bottom: 72px;
}
footer .footer-sitemap > div {
  display: flex;
  flex-direction: column;
  width: 270px;
}
footer .footer-sitemap .icon-block {
  display: flex;
}
footer .footer-sitemap .icon-block > img {
  margin-right: 24px;
}
footer .footer-sitemap > * {
  color: #e0e0e0;
}
footer .footer-bottom {
  position: relative;
  display: flex;
  align-self: flex-start;
  flex-wrap: wrap;
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 40px;
  padding-bottom: 49px;
}
footer .footer-bottom > a {
  margin-right: 16px;
}
footer .footer-bottom > * {
  color: #e0e0e0;
}

@media (max-width: 414px) {
  footer .footer-sitemap > div:not(:first-of-type) {
    margin-top: 30px;
  }
  footer hr {
    border-top: 1px solid #cacaca;
  }
  footer .footer-bottom {
    flex-direction: column;
    width: 100%;
    padding-left: 20px;
    padding-right: 20px;
  }
  footer .footer-bottom > a:not(:first-of-type) {
    margin-top: 16px;
  }
}
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

section:not(:first-of-type) {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 1240px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 20px;
  padding-right: 20px;
}

.m-auto {
  max-width: 1240px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 20px;
  padding-right: 20px;
}

@media (max-width: 414px) {
  section:not(:first-of-type) {
    width: 100%;
  }
  .m-auto {
    width: 100%;
  }
  #page-description {
    padding-left: 20px;
    padding-right: 20px;
  }
  #page-description .btn:first-of-type {
    margin-bottom: 24px;
  }
}